<h3>Update Subject</h3>
<form (ngSubmit)="updSubject()" #clsForm="ngForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="editSubj.name" name="name">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" [(ngModel)]="editSubj.code" name="code">
      </div>
    </div>
  </div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>